#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "ChatterClientDialogDef.h"

//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ID_CHATTER_CLIENT_DIALOG DIALOG 0, 0, 297, 336
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_GROUP | WS_POPUP | WS_SYSMENU
CAPTION "Chatter"
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "Addr", ID_TEXT_ADDR, 113, 314, 16, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        ID_EDIT_USER_NAME, 34, 311, 68, 14, ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFT
    EDITTEXT        ID_EDIT_ADDRESS, 135, 311, 150, 14, ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFT
    LTEXT           "User", ID_TEXT_USER, 12, 314, 16, 9, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "Staus", ID_GROUP_STATUS, 5, 302, 286, 30, 0, WS_EX_LEFT
    PUSHBUTTON      "Send", ID_BUTTON_SEND, 251, 281, 35, 14, 0, WS_EX_LEFT
    EDITTEXT        ID_EDIT_MESSAGE, 108, 222, 177, 56, ES_AUTOHSCROLL | ES_MULTILINE, WS_EX_LEFT
    EDITTEXT        ID_EDIT_CHAT, 108, 14, 177, 202, ES_AUTOHSCROLL | ES_MULTILINE | ES_READONLY, WS_EX_LEFT
    GROUPBOX        "Chat", ID_GROUP_CHAT, 102, 5, 189, 295, 0, WS_EX_LEFT
    PUSHBUTTON      "Add", ID_BUTTON_ADD, 11, 281, 35, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Remove", ID_BUTTON_REMOVE, 54, 281, 35, 14, 0, WS_EX_LEFT
    LISTBOX         ID_LIST_CHATS, 10, 15, 80, 263, WS_TABSTOP | WS_VSCROLL | WS_HSCROLL | LBS_NOINTEGRALHEIGHT | LBS_NOTIFY, WS_EX_LEFT
    GROUPBOX        "Chats", ID_GROUP_CHATS, 5, 5, 90, 295, 0, WS_EX_LEFT
}
