#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "ChatterRegisterDialogDef.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
ID_CHATTER_REGISTER_DIALOG DIALOG 0, 0, 186, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "User name", ID_TXT_NAME, 7, 11, 35, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        ID_EDIT_NAME, 82, 8, 91, 14, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        ID_EDIT_PASS_1, 82, 26, 91, 14, ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    EDITTEXT        ID_EDIT_PASS_2, 82, 44, 91, 14, ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 66, 64, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 123, 64, 50, 14, 0, WS_EX_LEFT
    LTEXT           "Password", ID_TXT_PASS_1, 7, 30, 32, 9, SS_LEFT, WS_EX_LEFT
    LTEXT           "Repeat password", ID_TXT_PASS_2, 7, 48, 56, 9, SS_LEFT, WS_EX_LEFT
}